{% if site.twitter %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.twitter }}" />

  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
    <meta name="twitter:title" content="{{ site.name }}" />
  {% endif %}

  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}" />
  {% else %}
    <meta name="twitter:description" content="{{ site.author-bio }}" />
  {% endif %}

  {% if page.image %}
    <meta name="twitter:image" content="{{ site.url }}/assets/photos/{{ page.image }}" />
  {% else %}
    <meta name="twitter:image" content="{{ site.url }}/assets/img/avatar.png" />
  {% endif %}
{% endif %}

<meta name="description" content="{{ site.description }}">
